<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Encabezados
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Mode md es modo material design -->
  <ion-segment [scrollable]="true" [value]="selectedCategory" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let categorie of categories" [value]="categorie">
      <ion-label class="ion-text-capitalize">{{categorie}}</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-list>
    <ion-item>
      <app-articles [articles]="currentArticles"></app-articles>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" #refScroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>